<a href="https://colab.research.google.com/github/medamchan/RealEstate-WebScrapping-Makaan.com/blob/main/Real_Estate_Web_Scrapping(Makaan_com).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

**Base url of the web page**

In [22]:
base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

**Created a List ffor Data to be Stored and Scrapped 50 pages Data**

In [24]:
owner = []
seller_type = []
bhk = []
price = []
size = []
loc = []
status = []
price_per_sqft = []

for i in range(1,51):
  time.sleep(3)   # to give a pause between each requests
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('div',attrs={'class':'seller-info'})
  for j in ow_info:
    owner.append(j.a.span.text)
  
  #seller type
  s_typ = soup.findAll('span',attrs={'class':'seller-type'})
  for j in s_typ:
    seller_type.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    price.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    size.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  status_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in status_info:
    status.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'size'})
  for j in pps_info:
    price_per_sqft.append(j.text)

**To Check the length to create Dataframe**

In [25]:
print('owner = ',len(owner))
print('seller_type = ',len(seller_type))
print('bhk = ',len(bhk))
print('price = ',len(price))
print('size =',len(size))
print('loc = ',len(loc))
print('status = ',len(status))
print('price_per_sqft = ',len(price_per_sqft))

owner =  1000
seller_type =  1000
bhk =  1000
price =  1000
size = 1000
loc =  1000
status =  1000
price_per_sqft =  1000

**Creating Tabular data using DataFrame(Pandas)**

In [26]:
data = pd.DataFrame({'SELLER INFO':owner,
                     'SELLER TYPE':seller_type,
                     'BHK':bhk,
                     'PRICE':price,
                     'Area in sqft':size,
                     'LOCATION':loc,
                     'STATUS':status,
                     'PRICE PER SQ.FT':price_per_sqft})
data

                 SELLER INFO  ... PRICE PER SQ.FT
0               Riddhi Group  ...           3059
1         Swamaan Developers  ...           1709
2    Ramireddy Constructions  ...           1173
3       Anuhar Homes Pvt Ltd  ...           1636
4             Vessella Group  ...           4259
..                       ...  ...             ...
995            RK Properties  ...           2400
996            RK Properties  ...           1300
997            RK Properties  ...           4000
998            RK Properties  ...           1300
999            RK Properties  ...           1800

[1000 rows x 8 columns]

**Converting DataFrame to CSV**

In [27]:
data.to_csv('50 pages of real estate details from makaan.csv',index=False)